[mysqld]
#performance_schema      = OFF

basedir                 = /usr
tmpdir                  = /tmp
datadir                 = /var/lib/mysql
port                    = 3306
user                    = mysql
bind-address            = localhost

[mariadb]
